.word-enter {
  opacity: 0;
}

.word-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.word-exit {
  opacity: 1;
}

.word-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}
